html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto Condensed",sans-serif;
	background-color: #fff;
	font-size: 100%;
}

@font-face {
	font-family: 'pf_din_text_comp_proregular';
	src: url('fonts/pfdintextcomppro-regular-webfont.eot');
	src: url('fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/pfdintextcomppro-regular-webfont.woff2') format('woff2'),
		url('fonts/pfdintextcomppro-regular-webfont.woff') format('woff'),
		url('fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype'),
		url('fonts/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.container {
	width: 100%;
	max-width: 100%;
	/*height: 100%;*/
	min-height: calc(100% - 85px);
	text-align: center;
}
.head {
	width: 100%;
	height: 70px;
	background: #191A1B;
	padding-top: 15px;
	/*padding-bottom: 20px;*/
	z-index: 5;
	/*display: none;*/
}
.head, .title a {
	color: #fff;
}
.lang, .title, .menu1 {
	display: inline-block;
	float: left;
	width: 33.33333333%;
	min-width: 230px;
	min-height: 55px;
	text-align: center;
}
.lang {
	text-align: center;
}
.tlanguage {
	display: inline-block;
	margin: 10px;
	cursor: pointer;
}
.logo {
	background-image: url(../../img/logo-white.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 228px;
	height: 35px;
	text-transform: uppercase;
	font-size: 60%;
	text-decoration: none;
}
.slogan {
	display: block;
	text-align: center;
	margin-top: 40px;
	margin-left: 0;
}
.menu1e {
	font-size: 60%;
	margin: 3px;
	color: #fff;
}
.menu1e:hover {
	color: #c8af72;
}
.menu1f {
	font-size: 60%;
	margin: 3px;
	color: #c8af72;
}
/* меню */
/*.menu1 {
	margin: 10px 0;
}*/
.menu1 ul, .static-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu1 li, .static-nav li {
	/*margin: 0 5px 10px 0;*/
	padding: 0;
	list-style: none;
	display: inline-block;
	*display:inline; /* ie7 */
}
.menu1 a {
	text-decoration: none;
	line-height: 60%;
	font-size: 60%;
	color: #fff;
}
.menu1 a:hover {
	color: #cecece;
	border-bottom: 1px solid #cecece;
}
.menu1 .active a {
	color: #c8af72;
	border-bottom: 1px solid #c8af72;
}
@media screen and (max-width: 1070px) {
	.menu1 {
		position: relative;
		/*min-height: 40px;*/
	}	
	.menu1 ul {
		width: 130px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		right: 30px;
		border: solid 1px #aaa;
		background: #000 url(../img/icon-menu.png) no-repeat 10px 7px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	.menu1 li {
		display: none; /* скрыть все <li> пункты */
		margin: 0;
	}
	.menu1 .active {
		display: block; /* показывать только текущие активные <li> пункты */
	}
	.menu1 a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.menu1 .active a {
		background: none;
		color: #c8af72;
		border-bottom: 0;
	}
	/* при наведении на пункты меню */
	.menu1 ul:hover {
		background-image: none;
	}
	.menu1 ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.menu1 ul:hover .active {
		background: url(../img/icon-check.png) no-repeat 10px 3px;
	}
	/* адаптивное меню по центру */
	.menu1.center ul {
		left: 50%;
		margin-left: -90px;
	}
}
/* Конец меню */
.content {
	height: 100%;
	min-height: calc(100% - 128px);
	/*z-index: 3;*/
}
.block {
	width: 100%;
	min-height: 100%;
	text-align: center;
}
.block.b1 {
	background: url(../../img/bg1.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	color: #fff;
	/*padding-top: 70px;*/
	height: 100vh;
}
.border1 {
	margin-top: 130px;
	/*margin-bottom: 45px;*/
	display: inline-block;
	position: relative;
	width: 90%;
	height: 75%;
	border: 6px solid #c8af72;
}
.b1 p {
	text-transform: uppercase;
}
.subh, .h {
	margin-top: 5%;
	box-sizing: border-box;
}
.h {
	font-size: 180%;
}
.menu2 {
	width: 100%;
	text-align: center;
	display: inline-block;
	position: relative;
	margin: 45px 0;
}
.menu2e {
	margin: 0 20px;
	display: inline-block;
	border: none;
	text-align: right;
	padding: 10px 0;
	border-top: 1px solid #525355;
	border-bottom: 1px solid #525355;
	color: #fff;
	text-transform: uppercase;
	background: transparent;
	border-radius: 0;
	text-align: center;
	line-height: 24px;
}
/*.menu2e:first-child {
	margin-left: -20px;
}*/
.menu2e:hover {
	border-top: 1px solid #c8af72;
	border-bottom: 1px solid #c8af72;
	color: #fff;
}
.b2 {
	background: url(../../img/bg2.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	/*height: 100%;*/
}
.about, .features {
	width: 1170px;
	padding-right: 25px;
	padding-left: 25px;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}
.about {
	margin-top: 15%;
}
.about:before {
	display: table;
	content: " ";
}
.b2, .b4, .b6, .b5 {
	min-height: 100vh;
}
.about h1 {
	text-transform: uppercase;
	color: #fff;
	margin-top: 25px;
	display: inline-block;
	margin-bottom: 3px;
}
.ln {
	width: 50px;
	height: 3px;
	background: #fff;
	margin: auto;
}
.col-ab {
	position: relative;
	margin-top: 5%;
	width: 30%;
	display: inline-block;
}
.sub-col-ab {
	margin: 0 auto;
	width: 90%;
	border: 1px solid #c8af72;
	box-sizing: border-box;
	padding: 5% 2.5%;
	font-family: "Roboto Condensed",sans-serif;
	text-align: center;
}
.col-icon {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.col-icon a {
	color: #888888;
}
.col-head {
	height: 50px;
	text-transform: uppercase;
}
.col-text {
	font-size: 80%;
	color: #888888;
	text-transform: none;
	min-height: 140px;
}
/* Features */
.wrap-f {
	margin-top: 70px;
	/*margin-right: -15px;
	margin-left: -15px;*/
}
.wrap-f:before {
	display: table;
	content: " ";
}
.f-1-2 {
	width: 75%;
	min-width: 820px;
}
.f-2-2 {
	width: 25%;
	text-align: left;
}
.f-1-2, .f-2-2 {
	float: left;
	position: relative;
	min-height: 1px;
	display: inline-block;
}
.carousel-pagination {
	text-align: left;
}
.list-pagination {
	display: inline-block;
	margin: 20px 0;
	border-radius: 4px;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
}
.carousel-pagination ul {
	list-style: none;
}
.list-pagination > li {
	display: inline;
	margin-left: -5px;
}
.list-pagination li a {
	position: relative;
	padding: 6px 12px;
	border: none;
	border-radius: 0px;
	color: #000;
	border-top: 3px solid #fff;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 85%;
}
.list-pagination li.current a, .list-pagination li:hover a {
	background: none;
	outline: none;
	border: none;
	border-top: 3px solid #c8af72;
	color: #c8af72;
	font-size: 85%;
}
.carousel {
	float: left;
	width: 100%;
	opacity: 1;
	display: block;
}
.car-wrap {
	/*float: left;*/
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 350px;
	text-align: center;
}
.f-2-3 {
	height:350px;
	width: 8300px;
	border: 0px solid #aaa;
	position: absolute;
	clip: rect(auto, 820px, auto, 00px);
}
#ulsl {
	margin:0px;
	padding: 0px;
	display: -webkit-inline-box;
	position: absolute;
	left: 0px;
	list-style-type: none;
	height: 100%;
}
.item {
	float: left;
	margin:0px;
	padding: 0px;
	width: 820px;
	text-align:left;
}
.i-i-w {
	width: 100%;
	float: left;
	font-size: 75%;
	position: relative;
}
.item-img {
	border: 1px solid rgb(200, 175, 114);
	position: relative;
	left: 50px;
	display: inline-block;
	padding: 25px 0px;
	float: left;
	margin-right: 55px;
}
.item-img img {
	max-width: 100%;
	margin-left: -50px;
}
.f-2-2 {
	position: relative;
	padding: 6px 12px;
	color: #000;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 85%;
}
.f-2-2 p {
	display: inline-block;
}
.have {
	border-top: 3px solid #c8af72;
	color: #c8af72;
	font-size: 100%;
	padding: 10px;
}
.have-list {
	border: 1px solid #c8af72;
	padding: 15px;
}
.f-2-2 hr {
	height: 5px;
	background-color: #c8af72;
	margin-top: 5px;
	margin-bottom: 15px;
}
.video-wrapper {
	margin-bottom: 10%;
	text-align: center;
	padding: 3px;
	width: 100%;
}
.video-responsive { 
	position: relative;
	padding-bottom: 28.5%;
	height: 0;
	overflow:hidden;
	width: 48%;
	float: left;
	border: 1px solid #c8af72;
	margin: 0.5%;
}
.video-responsive iframe, 
.video-responsive object, 
.video-responsive embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 98%;
	height: 97%;
	margin: 1%;
}
/* Features end*/

/* Team */
.b4 {
	background: url(../../img/bg4.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
}
.border2 {
	margin-top: 130px;
	margin-bottom: 50px;
	display: inline-block;
	position: relative;
	width: 90%;
	height: 75%;
	border: 6px solid #c8af72;
	text-align: center;
	padding: 1%;
}
.yln {
	width: 50px;
	height: 3px;
	background: #c8af72;
	margin: auto;
}
.t-i {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 30px;
}
.b4 .car-wrap {
	/*float: left;*/
	display: inline-block;
	width: 98%;
	height: 240px;
}
.arrow {
	position: absolute;
	cursor: pointer;
	z-index: 20;
	float: left;
	display: inline-block;
}
.l-arrow {
	left: 0;
}
.r-arrow {
	right: 0;
}
.team-item {
	width: 30%;
	margin: 10px;
	/*float: left;*/
	display: inline-block;
	font-size: 75%;
	text-align: left;
	min-width: 250px;
}
.team-name {
	border-top: 3px solid #c8af72;
	display: inline-block;
	text-transform: uppercase;
}
.team-name span, .team-inner {
	color: #888888;
}
.team-inner {
	border: 1px solid #454647;
}
.team-inner:hover {
	color: #fff;
	border: 1px solid #c8af72;
}
.team-inner a {
	color: #fff;
	font-size: 100%;
	font-weight: bold;
}
.team-img {
	float: left;
	margin: 5px 5px 5px -15px;
}
.social-networks {
	padding: 10px;
}
/* Team end */

/* Price */
.price {
	margin-top: 70px;
	display: inline-block;
	width: 90%;
}
.p-h {
	font-family: 'pf_din_text_comp_proregular','Roboto Condensed',sans-serif;
	font-size: 3em;
	text-transform: uppercase;
}
.p-sh {
	font-size: 90%;
	margin-bottom: 20px;
}
.price-container {
	width: 100%;
	text-align: center;
}
.price-item {
	display: inline-block;
	width: 30%;
	margin: 10px;
	border: 1px solid #c8af72;
}
.price-inner {
	padding: 20px;
	padding-bottom: 30px;
}
.price-title {
	text-transform: uppercase;
}
.price-name {
	font-size: 3em;
}
.price-plan {
	font-size: 100%;
}
.price-plan span {
	color: #c8af72;
}
.price-description {
	font-size: 75%;
	height: 200px;
}
.price-btn {
	color: #000;
	padding: 10px 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin-top: 10px;
	display: inline-block;
	font-size: 95%;
}
.price-btn:hover {
	border-top: 1px solid #c8af72;
	border-bottom: 1px solid #c8af72;
}
/* Price end */

/* ContactUs */
.b6 {
	background: url(../../img/bg6.jpg) no-repeat;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
}
.contact {
	/*background: url(../../img/formbg.png) no-repeat;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;*/
	color: #fff;
	width: 40%;
	min-width: 380px;
	height: auto;
	/*margin: 5% auto 0;
	margin-top: 50px;
	padding: 100px 0 0 0;*/
	margin: 0 auto;
	background-color: #191A1B;
	border: 1px solid #c8af72;
}
.c-f {
	width: 300px;
	margin: 0% auto 0;
	display: inline-block;
}
.wrap-form-contacus, .c-f-i {
	margin: 30px 0;
}
#CONTACUS_FORM .c-f-i:first-child {
	margin-top: 5px;
}
.c-f-i {
	width: 100%;
}
.form-control {
	border-color: #525355;
	outline: none;
	box-shadow: none;
	background: transparent;
	border-radius: 0px;
	height: 50px;
	box-sizing: border-box;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #ccc;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	display: block;
	width: 100%;
}
.f-c-s {
	background-image: url(/img/down.png);
	background-position: 95% 50%;
	background-repeat: no-repeat;
	text-indent: 0.01px;
	text-overflow: '';
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none !important;
	color: #777066;
}
textarea.form-control {
	height: 150px;
	resize: none;
}
.tc {
	text-align: center;
}
.c-f-i input[type="submit"] {
	display: inline-block;
	border: none;
	border-top: 1px solid #525355;
	border-bottom: 1px solid #525355;
	text-align: right;
	padding: 10px 10px 10px 30px;
	margin-left: -20px;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
.c-f-i input[type="submit"]:hover {
	border-top: 1px solid #c8af72;
	border-bottom: 1px solid #c8af72;
}
/* ContactUs end */

/* Forms---------------------------------------------------------------------*/
.lay-hid {
	background: rgba(0,0,0,0.9);
}
.lay-hid-wrap {
	width: 50%;
	min-width: 512px;
	margin: 50px auto;
	background: #1b1d1d;
	border: 1px solid #c8af72;
	box-sizing: border-box;
}
.lay-hid_close {
	color: #fff;
	width: 27px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #fff;
	position: absolute;
	right: 15px;
	top: 15px;
}
.join-form, .sign-form {
	width: 100%;
	padding: 10px 30px;
	color: #fff;
	text-align: center;
}
.join-form h1, .sign-form h1 {
	margin: 0;
	margin-bottom: 15px;
}
.c-p {
	text-transform: uppercase; 
}
label, .form-fgt {
	margin: 15px auto;
	padding: 5px;
}
.form-fgt {
	border: none;
	color: #c8af72;
	background: #1b1d1d;
}
label.custom-radio input {
	display: none;
}
label.custom-radio input+span {
	content: "\a";
	border: 1px solid #c8af72;
	width: 15px;
	height: 15px;
	display: inline-block;
}
label.custom-radio input:checked+span > div {
	background: #c8af72;
	width: 11px;
	height: 11px;
	margin: 1px auto;
}
label.custom-radio p {
	display: inline-block;
	margin-left: 5px;
}
.form-field, .form-sel {
	width: 43%;
	display: inline-block;
	margin-bottom: 30px;
	border-color: #525355;
	outline: none;
	box-shadow: none;
	background: transparent;
	border-radius: 0px;
	height: 50px;
	box-sizing: border-box;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #525355;
	color: #777066;
}
.form-field:nth-child(odd), .form-field:first-child, .form-sel:nth-child(odd) {
	float: left;
}
.form-field:nth-child(even), .form-sel:nth-child(even) {
	float: right;
}
.form-th {
	width: 100%;
	display: inline-block;
	margin-bottom: 30px;
	border-color: #525355;
	outline: none;
	box-shadow: none;
	background: transparent;
	border-radius: 0px;
	height: 50px;
	box-sizing: border-box;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #525355;
	color: #777066;
}
.form-sel {
	-webkit-appearance: none;
	background-image: url(/img/down.png);
	background-position: 95% 50%;
	background-repeat: no-repeat;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;
}
.form-sel::-ms-expand {
	display: none;
}
.form-c-b {
	content: "\a";
	border: 1px solid #c8af72;
	width: 15px;
	height: 15px;
	display: inline-block;
	background: #000;
}
.chckbx {
	float: left;
}
.form-fgt {
	float: right;
}
.form-pay {
	display: inline-block;
	border: 1px solid #525355;
	color: #777066;
	margin-bottom: 20px;
	text-align: left;
}
.form-pay p {
	padding: 10px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.form-pay textarea {
	display: inline-block;
	width: 100%;
	float: left;
	height: 150px;
	border: 1px solid #525355;
	color: #777066;
	background: transparent;
	margin-bottom: -2px;
}
.form-btn {
	display: inline-block;
	border: none;
	border-top: 1px solid #525355;
	border-bottom: 1px solid #525355;
	text-align: right;
	padding: 10px 0;
	color: #fff;
	text-transform: uppercase;
	background: transparent;
	margin-right: 20px;
	margin-left: 20px;
}
.form-btn:hover {
	border-top: 1px solid #c8af72;
	border-bottom: 1px solid #c8af72;
}
#error {
	display: inline-block;
	margin-bottom: 15px;
}
/* Forms end------------------------------------------------------------------*/

/* Static Pages ---------------------------------------*/
.static-wrapper {
	height: 100%;
	min-height: 100%;
	margin: 15px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
}
.link-back {
	color: #c8af72;
	font-weight: bold;
}
.static-nav {
	background: #C6B66D;
}
.static-nav li {
	padding: 10px 15px;
}
.static-nav a {
	color: #FBF7B6;
}
.static-nav .current {
	background: #E5E5E5;
}
.static-nav .current a {
	color: #C5B86D;
}
.static-nav a:hover {
	border-bottom: 1px solid #FBF7B6;
}
/* Journal -------------------------------------*/

.j-main {
	display: inline-block;
	text-align: left;
	float: left;
	width: 73%;
}
.nav-bar, .j-t-head {
	width: 100%;
	background: #C8AF72;
	display: inline-block;
}
.nav2, .nav-fe, .nav-me {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
.nav2 li {
	float: left;
	padding: 10px 35px;
}
.nav2 a {
	color: #FFFFFF;
}
.nav2 li.active {
	background: #cecece;
}
.active a {
	color: #C8AF72;
}
.j-section {
	display: inline-block;
	width: 100%;
	background: #cecece;
}
.nav-fe, .nav-me {
	margin-left: 20px;
}
.nav-fe li, .nav-me li {
	float: left;
	margin: 10px;
}
.nav-fe a, .nav-me a {
	color: #000;
}
.j-sidebar {
	display: inline-block;
	float: right;
	width: 23%;
	min-width: 200px;
	margin: 16px;
	padding-top: 70px;
}
.j-t-head {
	color: #fff;
	padding: 10px;
	text-align: left;
}
.j-port-cont, .j-phot-cont {
	width: 90%;
	margin: 15px auto;
	display: inline-block;
}
.journal_item {
	border:1px solid #D0D0D0;
	margin:10px 00px;
	padding:00px 00px 00px 10px;
	vertical-align:top;
}
.journal_item > div {
	display:inline-block;
	vertical-align:top;
	padding:10px 10px 10px 00px;
	word-wrap: break-word;
}
.j-img {
	width: 30%;
}
.j-img img {
	width: 100%;
	max-width: 100%;
}
.j-txt {
	width: 65%;
}
.journal_item > div > h3 {
	margin-top: 00px !important;
}
.journal_profile {
	background-color:#FFFFFF;
	display: inline-block;
	width: 100%;
}
.journal_profile > div > a > img {
	width: 100%;
	max-width: 100%;
}
.journal_photo {
	background-color:#FFFFFF;
	margin-top: 20px;
}
.journal_photo > div:nth-child(2) {
	padding-bottom:10px;
}
.journal_photo > div > a > img {
	width:70px;
	height:70px;
	margin:3px;
}
/* Journal End ---------------------------------*/

/* Search --------------------------------*/
#insert > article {
	display: none;
}
.search-nav {
	margin: 0 auto;
	border: 0px solid red;
}
.search-nav > table {
	margin: 00px 00px;
	padding: 00px 15px;
}
.leftpadding {
	padding-left:15px;
}
.centertext {
	text-align:center;
}
.rightpadding {
	padding-right:15px;
	text-align:right;
}
td {
	width:33%;
}
table, tr, td {
	background-color:rgba(0,0,0,0) !important;
	padding:0px;
	margin:0px;
}
/* Search End ----------------------------*/
/* Static Pages End ---------------------------------------*/


/* Footer */
.footer {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
	background: #e6e6e6;
	padding-top: 10px;
}
.footer a {
	display: inline-block;
	color: #c8af72;
	padding: 10px;
}
/* Footer End */
/* Медиа запросы -------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1422px) {
	.price-name {
		font-size: 2em;
	}
}
@media screen and (max-width: 1366px) {
	.c-img {
		max-height: 100px;
	}
}
@media screen and (max-width: 1300px) {
	.about, .features {
		width: 95%;
	}
}
@media screen and (max-width: 1220px) {
	.journal_photo > div > a > img {
		width: 50px;
		height: 50px;
	}
}
@media screen and (max-width: 1219px) {
	.f-1-2, .f-2-2 {
		float: none;
	}
	.f-2-2 {
		width: 90%;
	}
}
@media screen and (max-width: 1136px) {
	.col-icon {
		height: 150px;
		font-size: 150%;
	}
	.join-form, .sign-form {
		font-size: 90%;
	}
}
@media screen and (max-width: 950px) {
	.price-name {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 920px) {
	.f-1-2 {
		min-width: 720px;
	}
	.f-2-3 {
		width: 7200px;
		clip: rect(auto, 720px, auto, 00px);
	}
	.carousel-pagination {
		font-size: 75%;
	}
	.carousel-pagination ul {
		text-align: center;
	}
	.list-pagination > li {
		white-space: nowrap;
		margin-bottom: 10px;
		display: inline-block;
	}
	.item {
		width: 720px;
	}
	.col-icon {
		height: 110px;
		font-size: 140%;
	}
	.col-text {
		min-height: 160px;
	}
	.price-item {
		width: 40%;
	}
}
@media screen and (max-width: 825px) {
	.f-1-2 {
		min-width: 620px;
	}
	.carousel-pagination {
		font-size: 70%;
	}
	.f-2-3 {
		width: 6200px;
		clip: rect(auto, 620px, auto, 00px);
	}
	.item {
		width: 620px;
	}
	.item-img {
		width: 40%;
	}
	.video-responsive {
		width: 95%;
		padding-bottom: 63%;
		float: none;
		display: inline-block;
	}
	.col-ab {
		margin-top: 20px;
	}
	.sub-col-ab {
		padding: 10px;
	}
	.col-icon {
		height: 90px;
		font-size: 110%;
	}
	.col-text {
		min-height: 30px;
	}
}
@media screen and (max-width: 720px) {
	.f-1-2 {
		min-width: 520px;
	}
	.list-pagination {
		padding-left: 0;
		padding-right: 0;
	}
	.list-pagination li a {
		padding: 5px;
	}
	.f-2-3 {
		width: 5200px;
		clip: rect(auto, 520px, auto, 00px);
	}
	.item {
		width: 520px;
	}
	.c-img, .t-i {
		max-width: 100%;
	}
}
@media screen and (max-width: 690px) {
	.title {
		float: none;
		display: inline-block;
	}
	.lang {
		width: auto;
		min-width: 150px;
		float: left;
	}
	.menu1 {
		width: auto;
		min-width: 150px;
		float: right;
	}
	.menu1 ul {
		width: 130px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		right: 5px;
		border: solid 1px #aaa;
		background: #000 url(../img/icon-menu.png) no-repeat 10px 7px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	.menu1 li {
		display: none; /* скрыть все <li> пункты */
		margin: 0;
	}
	.menu1 .active {
		display: block; /* показывать только текущие активные <li> пункты */
	}
	.menu1 a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.menu1 .active a {
		background: none;
		color: #c8af72;
		border-bottom: 0;
	}
	/* при наведении на пункты меню */
	.menu1 ul:hover {
		background-image: none;
	}
	.menu1 ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.menu1 ul:hover .active {
		background: url(../img/icon-check.png) no-repeat 10px 3px;
	}
	/* адаптивное меню по центру */
	.menu1.center ul {
		left: 50%;
		margin-left: -90px;
	}
	.price-item {
		width: 95%;
	}
	.contact {
		width: 100%;
		height: auto;
	}
	.c-f {
		width: 65%;
		margin: 0;
	}
	.features {
		padding-right: 0;
		padding-left: 0;
	}
}
@media screen and (max-width: 655px) {
	.border1 {
		height: auto;
		margin-top: 160px;
		margin-bottom: 20px;
	}
	.head {
		padding-bottom: 60px;
	}
	.lang, .menu1 {
		position: absolute;
		top: 75px;
	}
	.title {
		margin: 0 30%;
		display: inline-block;
	}
	.menu1 {
		right: 0px;
	}
	.col-ab {
		min-width: 170px;
	}
}
@media screen and (max-width: 620px) {
	.menu1 ul {
		width: 130px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		border: solid 1px #aaa;
		background: #000 url(../img/icon-menu.png) no-repeat 10px 7px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	.menu1 li {
		display: none; /* скрыть все <li> пункты */
		margin: 0;
	}
	.menu1 .active {
		display: block; /* показывать только текущие активные <li> пункты */
	}
	.menu1 a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.menu1 .active a {
		background: none;
		color: #c8af72;
		border-bottom: 0;
	}
	/* при наведении на пункты меню */
	.menu1 ul:hover {
		background-image: none;
	}
	.menu1 ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.menu1 ul:hover .active {
		background: url(../img/icon-check.png) no-repeat 10px 3px;
	}
	/* адаптивное меню по центру */
	.menu1.center ul {
		left: 50%;
		margin-left: -90px;
	}
}
@media screen and (max-width: 600px) {
	.title {
		margin: 0 25%;
	}
	.about {
		padding-bottom: 20px;
	}
	.lay-hid-wrap {
		width: 100%;
		min-width: 100%;
	}
}
@media screen and (max-width: 545px) {
	.carousel-pagination {
		border: 1px solid #c8af72;
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 540px) {
	.f-1-2 {
		min-width: 420px;
	}
	.f-2-3 {
		width: 4200px;
		clip: rect(auto, 420px, auto, 00px);
	}
	.item {
		width: 420px;
	}
	.car-wrap, .f-2-3 {
		height: 450px;
	}
}
@media screen and (max-width: 500px) {
	.head {
		text-align: center;
	}
	.title {
		margin: 0 15%;
	}
	.lang {
		min-width: 105px;
		min-height: auto;
	}
	.tlanguage {
		margin: 2px 5px;
	}
}
@media screen and (max-width: 450px) {
	.f-1-2 {
		min-width: 320px;
	}
	.f-2-3 {
		width: 3200px;
		clip: rect(auto, 320px, auto, 00px);
	}
	.item {
		width: 320px;
	}
}
/*@media screen and (max-width: 435px) {
	.container {
		min-width: 435px;
	}
}*/
@media screen and (max-width: 420px) {
	.col-ab {
		width: 100%;
	}
	.col-icon {
		height: auto;
		font-size: 1.5em;
	}
}
@media screen and (max-width: 410px) {
	label {
		width: 40%;
	}
	.form-field, .form-sel {
		width: 100%;
	}

}
@media screen and (max-width: 391px) {
	.block.b1 {
		height: auto;
	}
	.about, .features {
		padding: 0;
	}
	.price-item {
		width: 90%;
		margin: 10px auto;
	}
	.contact {
		min-width: 100%;
		width: 100%;
	}
}
@media screen and (max-width: 350px) {
	.menu2e {
		margin: 0 10px;
	}
	.f-1-2 {
		min-width: 200px;
	}
	.car-wrap, .f-2-3 {
		height: 740px;
	}
	.f-2-3 {
		width: 2000px;
		clip: rect(auto, 200px, auto, 00px);
	}
	.item {
		width: 200px;
	}
	.item-img {
		width: 70%;
		float: none;
	}
}
@media screen and (max-width: 300px) {
	.block.b1 {
		padding-top: 0;
	}
	.c-f {
		width: 80%;
		margin-top: -40px;
	}
}
/*---------------------------------------------------------*/
.fll {float: left;}
.flr {float: right;}
.flc {clear: left;}

.bor {border: 0px solid #f99;}

.bgg1 {background-color: #009900;}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
	border-bottom: 3px solid #C9E0ED;
	margin-bottom: 10px;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}
    
#menu_top { /* background:white url(bg.gif) repeat-x left top;  */ font-size:16px; line-height: 16px;}
#menu_top ul { /* padding:6px 20px 5px 20px; */ margin-bottom:10px; }
#menu_top ul li { display: inline; margin:5px; cursor:pointer; float: left; color:#21657D; padding: 5px; line-height: 30px;} 
/* #menu_top ul li img { vertical-align: middle;} */
#menu_top ul li ul { visibility: hidden; position: absolute; background-color: #efefef; float: none;}
#menu_top ul li ul li {display: list-item; list-style: none; float: none;}

#menu_top ul li:hover    { background-color: #B8ECEC;}
#menu_top ul li:hover ul { visibility: visible; }
#menu_top ul li:hover ul li { }
#menu_top ul li:hover ul li a { }
#menu_top ul li:hover ul li a:hover { }


#menu_top11 ul li a {
	/*color:#ffffff;
	background-color:transparent; */
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}
#menu_top11 ul li a:hover, #menu_top ul li.active a {
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}


#mainmenu2
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu2 ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu2 ul li
{
	display: inline;
}

#mainmenu2 ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu2 ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}


#mainmenu3
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu3 ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu3 ul li
{
	display: inline;
}

#mainmenu3 ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu3 ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
	text-align:left;
}

div.breadcrumbs span
{
	font-weight: bold;
	color:#c9af72;
}
div.breadcrumb2 span
{
	font-weight: normal;
	color: black;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.but_prore {color: #fff; text-decoration: none; background-color: red; padding: 10px 30px; border-radius: 20px; font-weight: bold; cursor:pointer;}
.but_podob {color: #fff; text-decoration: none; background-color: #4783FF; padding: 10px 30px; border-radius: 20px; font-weight: bold; cursor:pointer;}
.but_vidvi {color: #fff; text-decoration: none; padding: 3px 15px; border-radius: 20px; font-weight: bold; border: 1px solid #999; cursor:pointer;}
.but_filsa {color:red; font-weight: bold; border: 1px solid #999; border-radius: 20px; border-radius: 20px; padding: 0px 10px; text-align: center; margin: auto; cursor:pointer;}
#sel_13 , #id_obj , #sel_12{padding: 7px 15px; border-radius: 22px; font-size: 1.1em; cursor:pointer;}
#sel_3, #sel_4, #sel_5, #sel_6, #sel_7, #sel_11 {border-width: 0px;}

.p1 {text-align: center; color: #21657D;}
.p2 {border: 1px solid #999; display: inline-block;margin: 5px; padding: 5px; text-align: left;}

.bc {
	font-size: 16px;
	font-weight: bold;
	padding: 5px 20px;
	text-align:left;
	
}