/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
caption, th {
	text-align: left;
}
q: before, q: after {
	content: '';
}
abbr, acronym {
	border: 0;
}
/*end reset*/
html, body {
	margin:	0; 
	padding:	0; 
	height:	100%;
}
body {
	font-family: Arial,	Verdana, sans-serif;
	font-size: 12px;
	color: #333;
	background: #BBBAB7;
}
.wrapper {
	width: 100%;
	height: 100%;
	min-height: 100%;
	text-align: left;
}
/* Menu */
#menu {
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	width: 100%;
	font-size: 100%;
	font-family: Georgia;
	background: #171717;
	z-index: 999;
}
#menu li {
	list-style: none;
	float: left;
	height: 33px;
	padding: 0;
	margin: 0;
	width: 150px;
	text-align: center;
	background: #171717;
	position: relative;
	padding-top: 12px;
}
#menu li.exit {
	float: right;
}
#menu li ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 150px;
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
}
#menu li ul li {
	float: none;
	height: 33px;
	margin: 0;
	width: 150px;
	text-align: center;
	background: #7F7F7F;
}
#menu li a {
	display: block;
	width: 150px;
	height: 33px;
	color: #fff;
	text-decoration: none;
}
#menu li:hover ul, #menu li.jshover ul {
	display: block;
}
#menu li:hover, #menu li.jshover {
	background: #424242;
}
.admin-mine {
	width: 100%;
	height: 95%;
	position: relative;
	display: block;
	text-align: center;
}
/* Menu end */
.welcome {
	padding-top: 30px;
}
.ad-m-1 {
	width: 95%;
	min-height: 60%;
	border: 1px solid;
	border-radius: 15px;
	display: inline-block;
	margin-top: 30px;
	padding: 10px;
}
/* Language */
.lang-nav {
	position: relative;
	display: inline-block;
	text-align: right;
	width: 99%;
	border-top: 1px solid;
	padding-top: 10px;
	padding-bottom: 10px;
}
.lang-nav a {
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: brown;
}
.lang-nav a.active {
	color: #000;
	border-bottom: 1px solid;
}
.lang-tab {
	width: 99%;
	/*height: 95%;
	min-height: 95%;*/
	display: inline-block;
	border: 1px solid;
}
.cod {
	width: 100px; 
	height: 100%;
	border-right: 1px solid;
}
.cod, .ru, .en, .fr, .ch {
	float: left;
	position: relative;
	display: inline-block;
}
.ru, .en, .fr, .ch {
	width: 28%;
	height: 100%;
	border-right: 1px solid;
	display: inline-block;
}
.top-row, .row {
	width: 100%;
	display: inline-block;
}
.tab-top {
	border: 1px solid;
	background: #dedede;
}
.row {
	height: 50px; 
	border-bottom: 1px solid;
}
.current {
	display: inline-block;
}
.hide {
	display: none;
}
.tab-btn {
	width: 60px;
	float: left;
	display: inline-block;
}
.lang-row {
	width: 99%;
	height: 2.5em;
}
.lang-cod {
	padding-top: 10px;
}
/* Language end */

/* Team */
.team-all {
	width: 100%;
	height: 40%;
	display: inline-block;
}
.team-item {
	width: 30%;
	margin: 10px;
	float: left;
	display: inline-block;
	font-size: 75%;
	text-align: left;
	min-width: 250px;
}
.team-name {
	border-top: 3px solid #c8af72;
	display: inline-block;
	text-transform: uppercase;
}
.team-name span, .team-inner {
	color: #888888;
}
.team-inner {
	border: 1px solid #454647;
}
.team-img {
	float: left;
	margin: 5px 5px 5px -15px;
}
.social-networks {
	padding: 10px;
}
.team-add {
	width: 100%;
	height: 10%;
	display: table;
}
.team-add input {
	display: table-cell;
	text-align: center;
}
/* Team end */

/* Login */
.login-form {
	width: 40%;
	margin: 50px auto;
	min-height: 50%;
	border-radius: 20px;
	text-align: center;
	-webkit-box-shadow: 3px 3px 24px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 24px 5px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 24px 5px rgba(0,0,0,0.75);
}
.login-form h1 {
	padding: 20px;
}
.login-form input, .c-img {
	display: inline-block;
	width: 70%;
	margin: 10px;
}
/* Login end*/

/* Admil Login Form */
.admin-login {
	width: 40%;
	min-width: 230px;
	display: block;
	margin: 5% auto;
	text-align: center;
}
.admin-login h1, .admin-login input {
	margin-bottom: 10px;
}
.admin-login input {
	width: 90%;
	padding: 10px;
}
.admin-login a {
	display: inline-block;
	margin: 10px;
}
/* Admil Login Form End */