/* Block Viewed Products */
#viewed-products_block_left ul.products_page {
  /*text-align: center;*/
}

#viewed-products_block_left ul.products_page li {
  display: inline-block;
  width: 19%;
  vertical-align: top;
  border: none;
  padding: 0;
}

#viewed-products_block_left ul.products_page li a {
  margin: 0 3px;
  border: none;
}

#viewed-products_block_left ul.products_page li img {
  display: inline-block;
  width: 100%;
}

#viewed-products_block_left ul.products_page li .detail {
  text-align: left;
}

#viewed-products_block_left li.last_item {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none; }

/*# sourceMappingURL=blockviewed.css.map */
