.header_user_info {
  float: right;
  border-left: 1px solid #515151;
  border-right: 1px solid #515151; }
  .header_user_info a {
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 8px 9px 11px 8px;
    cursor: pointer;
    line-height: 18px; }
    .header_user_info a > i {
        display: none;
    }
    @media (max-width: 479px) {
      .header_user_info a > span {
        display: none;
        font-size: 11px; }
      .header_user_info a > i {
        display: block;
        line-height: 18px;
      }
    }
    .header_user_info a:hover, .header_user_info a.active {
      background: #2b2b2b; }

/*# sourceMappingURL=blockuserinfo.css.map */
