#sizes-table {
    display: none;
}
.sizes_table {
    max-width: 650px;
}

.sizes_table .title {
    font-size: 18px;
}

.sizes_table table {
    margin-top: 10px;
    border: 1px solid #d6d4d4;
}

.sizes_table table tr {
    border: 1px solid #d6d4d4;
}

.sizes_table table td {
    border: 1px solid #d6d4d4;
}