.shop-phone {
  float: left;
  padding: 9px 0 10px;
  line-height: 18px; }
  @media (max-width: 767px) {
    .shop-phone {
      display: none; } }
  .shop-phone i {
    font-size: 16px;
    line-height: 21px;
    padding: 0 7px; }
  @media (max-width: 991px) {
    .shop-phone.is_logged {
      display: none; } }
#contact-link {
  float: right;
  border-left: 1px solid #515151; }
  @media (max-width: 479px) {
    #contact-link {
      text-align: center; } }
  #contact-link a {
    display: block;
    font-weight: bold;
    padding: 9px 10px 11px 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 18px; }
    #contact-link a, .shop-phone strong, .shop-phone i {
      color: #fff;
    }
    @media (max-width: 479px) {
      #contact-link a {
        font-size: 11px;
        padding-left: 5px;
        padding-right: 5px; } }
    #contact-link a:hover, #contact-link a.active {
      background: #2b2b2b; }
  @media (max-width: 767px) {
    #contact-link.is_logged {
      display: none; } }

@media (max-width: 767px) {
  #contact_block {
    margin-bottom: 20px; } }
#contact_block .label {
  display: none; }
#contact_block .block_content {
  color: #888888; }
#contact_block p {
  margin-bottom: 4px; }
#contact_block p.tel {
  font: 400 17px/21px Arial, Helvetica, sans-serif;
  color: #333;
  margin-bottom: 6px; }
  #contact_block p.tel i {
    font-size: 25px;
    vertical-align: -2px;
    padding-right: 10px; }
/*# sourceMappingURL=blockcontact.css.map */
/* Technical Support */
.nav-h {
    list-style: none;
     *zoom: 1;
     position: relative;
}
.nav-h:after {
    clear: both;
}
.nav-h ul {
    list-style: none;
}
.nav-h a {
    color:#fff;
    *zoom: 1;
}
.nav-h > li {
    float: left;
    border-top: 1px solid #104336;
    z-index: 200;
}
.nav-h > li > a {
    display: block;
}
.nav-h li ul {
    position: absolute;
    left: -9999px;
    z-index: 100;
}
.nav-h li li a {
    display: block;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav-h li li li a {
    z-index:200;
    border-top: 1px solid #1d7a62;
}
.nav-h li {
    position: relative;
}
.nav-h > li.hover > ul {
    left: 0;
}
.nav-h li li.hover ul {
    left: 100%;
    top: 0;
}
.ts {
	background: #fff;
	overflow: auto;
	margin-bottom: 10px;
	width: 400px;
	height: auto;
}