#search_block_top {
  position: relative;
  text-align: center;
  /*top: 50px;*/
  /*padding-top: 96px;*/
  width: 100%;
}
  @media (max-width: 767px) {
    #search_block_top {
      padding-top: 10px;
    }
    #search_block_top #searchbox {
      float: none;
    }
  }
  #search_block_top #searchbox {
    /*float: right;*/
    display: inline-block;
    width: 500px;
    height: 50px;
  }

@media (max-width: 767px) {
  #search_block_top #searchbox {
    float: none;
    margin: 0 auto !important;
  }
}

  #search_block_top .btn.button-search {
    background: #333;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    /*color: #fff;*/
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px;
  }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 10px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      color: #6f6f6f; }
  #search_block_top #search_query_top {
    /*display: inline;*/
    padding: 5px 10px 5px 5px;
    height: 50px;
    background: rgb(250, 255, 189);
    color: black;
    margin-right: 1px; }

.ac_results {
  background: #fff;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: #fff; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }

/*# sourceMappingURL=blocksearch.css.map */
