/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #191a1b url(http://fashiongreatness.com/local/templates/landing/images/bg/bg1.jpg) center center no-repeat;
  /*background-size: 100% 100%;*/
}

#maintenance {
  margin: 15% 0;

  /*background-color: black;*/
}
  @media (min-width: 1200px) {
    #maintenance {
      /*margin: 0 auto;*/
      /*padding: 50px; */
    } }
  #maintenance .logo {
    margin: 0 auto;
    text-align: center;
    width: 500px;
  }
  #maintenance h1 {
    font: 24px "Open Sans", sans-serif;
    color: lightgrey;
    padding: 0 0 14px 0;
    margin: 0 0 19px 0; }
  #maintenance #message {
    font: 14px "Open Sans", sans-serif;
    padding: 0 0 0 18px;
    color: lightgrey;
    text-align: center; }

.container {
  width: 90%;
  height: 90%;
  border: 6px solid #c8af72;
  margin: 2% auto;
  position: relative;
  text-align: center;
  /*padding: 100px;*/
  /*background-color: black;*/

  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  /*margin-right: auto;*/
  /*margin-left: auto; */
}

.login_div {
  width: 300px;
  margin: 0 auto;
}

.login_table input {
  padding: 5px 7px;
  border: 1px solid;
}

.login_table button {
  cursor: pointer;
  background-color: black;
  border: none;
  color: white;
  padding: 11px 15px 10px 15px;
  width: 100%;
}
.login_table button:hover {
  color: black;
  background-color: #c8af72;
}

/*# sourceMappingURL=maintenance.css.map */
