#header .top_menu_title {
    font-size: 1.2em;
    /*width: 120px;*/
    height: 40px;
    margin: 12px auto 0;
    text-align: left;
    /*color: grey;*/
    display: inline-block;
}
#header .top_menu_title > span{
    border-top: 1px solid #525355;
    border-bottom: 1px solid #525355;
    padding: 5px;
    cursor: pointer;
    color: white;
    /*text-decoration: underline;*/
}
#header .sticky .top_menu_title > span {
    color: #000;
}
#header .top_menu_title > span:hover {
    /*border-bottom: none;*/
    /*color: grey;*/
    /*text-decoration: underline;*/
    border-color: #c9af72;
}
.top-menu-helper {
    display: inline-block;
    font-size: 1.2em;
    height: 40px;
    margin: 12px auto 0;
}
.top-menu-helper a {
    border-top: 1px solid #525355;
    border-bottom: 1px solid #525355;
    padding: 5px;
    cursor: pointer;
    color: #fff;
}
.sticky .top-menu-helper a {
    color: #000;
}
#header #top-menu {
    display: none;
}

#top-submenu a {
    color: #191a1b !important;
    text-decoration: none !important;
}

#header .top_menu {
    margin: 0px;
    text-align: center;
    border-bottom: solid 1px #c9af72;
}
#header .top_menu li {
    display: inline-block;
    padding: 15px 15px;
    font-size: 1.2em;
}

ul.centered {
    text-align: center;

}
ul.centered li {
    display: inline-block;
    padding: 20px 15px;
    font-size: 1.2em;
}


ul.border_bottom {
    border-bottom: solid 1px #c9af72
}

#header .top_submenu_wrapper {
    position: relative;
}
#header .top_submenu_wrapper .menuArrow {
    left: -500px;
    position: absolute;
    bottom: 0px;
    height: 22px;
    width: 23px;
    background-image: url('../img/arrow.png');
    /*background-position: 0 0;*/
}

#order .terms_content {
    height: 90px;
    overflow-y: scroll;
}

#order div.checkbox {
    margin-top: 0px !important;
}

/*#top-submenu li.active > a {*/
    /*text-decoration: underline;*/
/*}*/

.full_menu ul {
    display: none;
}

.full_menu ul.active {
    display: block;
}

.full_menu ul > li {
    width: 24%;
    font-size: 13px;
    padding: 3px;
}
.full_menu ul > li.active {
    color: black;
    text-decoration: underline;
}

.full_menu > div {
    border-bottom: solid 1px #c9af72;
}


.dropdown_categories {
    display: inline-block;
    cursor: pointer;
}
.dropdown_categories ul {
    padding: 0px;
    background-color:#f2f2f2 ;
}

.footer-container .copyright {
    background-color: black;
    text-align: center;
    text-transform: uppercase;
}


.product-image-container img.rear {
    position: absolute;
    opacity: 0;
    /*transition: opacity 0.4s, visibility 0.4s;*/
}
.product-image-container div.product_sizes {
    position: absolute;
    bottom: 0;
    padding: 10px 25px;
    background-color: lightgrey;
    opacity: 0.7;
    width: 100%;
    text-align: left;
    color: black;
    /*transition: opacity 0.4s, visibility 0.4s;*/
}

.care_title {
    text-align: center;
    font-weight: 100;
    font-size: 24px;
    font-style: normal !important;
    color: #000;
    margin: 25px 0 20px;
}

ul.shop_menu  {
    background-color: #f2f2f2;
    text-align: center;
}

ul.shop_menu li {
    padding: 15px 0;
    /*width: 14%;*/
    margin: 0 1%;
    display: inline-block;
    text-transform: uppercase;
}

ul.shop_menu li span {
    font-weight: 400;
    color: black;
    text-decoration: underline;
}

ul.shop_menu li a:hover {
    text-decoration: underline;
}

/*#header .nav a, #header .nav strong, #header .nav i {*/
    /*color: #c9af72;*/
/*}*/


ul.nav_help {
    text-align: center;
}

ul.nav_help li {
    display: inline-block;
    text-transform: uppercase;
    background: #f2f2f2;
    margin: 0 1%;
    font-size: 12px;
    text-align: center;
}

ul.nav_help li a {
    display: block;
    padding: 13px 30px;
    text-decoration: none;
}

ul.nav_help li a:hover {
    color: #c9af72;
    background-color: black;
}

ul.nav_help li.active a {
    color: #c9af72;
    background-color: black;
}


.product_border {
    border-top: 1px solid lightgrey;
}
.product_title {
    /*font-family: "Playfair Display", Arial, Helvetica, Sans-serif;*/
    font-size: 28px;
    line-height: 24px;
    text-transform: uppercase;
    color: black;
    font-weight: 100;
}

.blogpost .page_cover {
    margin: 20px 40px;
}

.blogpost p {
    font-size: 14px;
    line-height: 160%;
}

.post-item {
    font-size: 14px;
    line-height: 160%;
}

.post-item .post-additional-info {
    color: darkgrey;
}

label.error {
    color: #c9af72;
}

.fleft {
    float: left;
}
.fright {
    float: right;
}

.margin0 {
    margin: 0;
}

.padding0 {
    padding: 0;
}
.pl0 {
    padding-left: 0 !important;
}